* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222222;
    color: #FFFFFF;
}

h1{
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;

    background: -webkit-linear-gradient(left,#E122F2 0%, #22D3F2 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-subtracao{
    display: flex;
    width: 75px;
    height: 75px;
    background-color: #577AF8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
}

#button-subtracao:hover{
    background-color: #E122F2;
}

#contador-principal{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #577AF8;
    border-radius: 15px;
    margin: 150px 41px 200px 41px;
    font-size: 50px;
}

#button-soma{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    background-color: #577AF8;
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
}

#button-soma:hover{
    background-color: #E122F2;
}

